/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 2rem; /* Space between grid items */
  animation: fadeIn 2s ease-in-out;
}

/* Project Card */
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #252934;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Image Container */
.image-container {
  width: 100%; /* Full width of the card */
  aspect-ratio: 16 / 9; /* Maintain consistent aspect ratio */
  position: relative;
  overflow: hidden; /* Crop any overflow */
  border-radius: 10px 10px 0 0; /* Round the corners of the image container */
  max-width: 300px; /* Set a maximum width */
  min-width: 300px; /* Set a minimum width */
  max-height: 274px; /* Maintain aspect ratio max height (16/9 of 500px width) */
  min-height: 274px; /* Maintain aspect ratio min height (16/9 of 300px width) */
}

/* Website Screenshot */
.website-screenshot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Fill the container width */
  height: 100%; /* Fill the container height */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

/* Project Details */
.project-details {
  padding: 1rem;
  text-align: center;
  max-width: 500px; /* Match the max width of the image container */
}

.project-details h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.project-details p {
  font-size: 1rem;
  color: #eaeaea;
  margin-bottom: 1rem;
}

.view-project-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-project-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}
